[workspace]
resolver = "2"

members = [
    "soroban-auth",
    "soroban-sdk",
    "soroban-sdk-macros",
    "soroban-spec",
    "soroban-ledger-snapshot",
    "soroban-token-spec",
    "tests/empty",
    "tests/empty2",
    "tests/add_u64",
    "tests/add_i128",
    "tests/add_u128",
    "tests/import_contract",
    "tests/invoke_contract",
    "tests/udt",
    "tests/contract_data",
    "tests/events",
    "tests/logging",
    "tests/errors",
    "tests/alloc",
]

[workspace.package]
version = "0.7.0"

[workspace.dependencies]
soroban-sdk = { version = "0.7.0", path = "soroban-sdk" }
soroban-sdk-macros = { version = "0.7.0", path = "soroban-sdk-macros" }
soroban-auth = { version = "0.7.0", path = "soroban-auth" }
soroban-spec = { version = "0.7.0", path = "soroban-spec" }
soroban-ledger-snapshot = { version = "0.7.0", path = "soroban-ledger-snapshot" }
soroban-token-spec = { version = "0.7.0", path = "soroban-token-spec" }

[workspace.dependencies.soroban-env-common]
version = "0.0.15"
git = "https://github.com/stellar/rs-soroban-env"
rev = "5ef87058f07ad67eeba4c350a6b6af82bd17f916"

[workspace.dependencies.soroban-env-guest]
version = "0.0.15"
git = "https://github.com/stellar/rs-soroban-env"
rev = "5ef87058f07ad67eeba4c350a6b6af82bd17f916"

[workspace.dependencies.soroban-env-host]
version = "0.0.15"
git = "https://github.com/stellar/rs-soroban-env"
rev = "5ef87058f07ad67eeba4c350a6b6af82bd17f916"

[workspace.dependencies.stellar-strkey]
version = "0.0.7"
git = "https://github.com/stellar/rs-stellar-strkey"

[workspace.dependencies.stellar-xdr]
version = "0.0.15"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "bcf6f4c3a9dd32822a20af89880650a421d10e7f"
default-features = false

# [patch."https://github.com/stellar/rs-soroban-env"]
# soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
# soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
# soroban-env-host = { path = "../rs-soroban-env/soroban-env-host/" }
# [patch."https://github.com/stellar/rs-stellar-xdr"]
# stellar-xdr = { path = "../rs-stellar-xdr/" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true
