[workspace]
resolver = "2"

members = [
    "soroban-sdk",
    "soroban-sdk-macros",
    "soroban-meta",
    "soroban-spec",
    "soroban-spec-rust",
    "soroban-ledger-snapshot",
    "soroban-token-sdk",
    "soroban-token-spec",
    "stellar-asset-spec",
    "tests/*",
]

[workspace.package]
version = "25.1.0"
rust-version = "1.84.0"

[workspace.dependencies]
soroban-sdk = { version = "25.1.0", path = "soroban-sdk" }
soroban-sdk-macros = { version = "25.1.0", path = "soroban-sdk-macros" }
soroban-meta = { version = "25.1.0", path = "soroban-meta" }
soroban-spec = { version = "25.1.0", path = "soroban-spec" }
soroban-spec-rust = { version = "25.1.0", path = "soroban-spec-rust" }
soroban-ledger-snapshot = { version = "25.1.0", path = "soroban-ledger-snapshot" }
soroban-token-sdk = { version = "25.1.0", path = "soroban-token-sdk" }
soroban-token-spec = { version = "25.1.0", path = "soroban-token-spec" }
stellar-asset-spec = { version = "25.1.0", path = "stellar-asset-spec" }

[workspace.dependencies.soroban-env-common]
# version = "=25.0.1"
git = "https://github.com/stellar/rs-soroban-env"
rev = "bb0973984d3e881206710ed3de460726c2db9dd2"

[workspace.dependencies.soroban-env-guest]
# version = "=25.0.1"
git = "https://github.com/stellar/rs-soroban-env"
rev = "bb0973984d3e881206710ed3de460726c2db9dd2"

[workspace.dependencies.soroban-env-host]
# version = "=25.0.1"
git = "https://github.com/stellar/rs-soroban-env"
rev = "bb0973984d3e881206710ed3de460726c2db9dd2"

[workspace.dependencies.stellar-strkey]
version = "=0.0.16"

[workspace.dependencies.stellar-xdr]
version = "=25.0.0"
default-features = false
features = ["curr"]

#[patch.crates-io]
#soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
#soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
#soroban-env-host = { path = "../rs-soroban-env/soroban-env-host" }
#[patch."https://github.com/stellar/rs-stellar-xdr"]
#stellar-xdr = { path = "../rs-stellar-xdr/" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true

# The release-without-lto profile is useful for testing build cases when lto
# are disabled, such as those like the test_zero test vector. See the test_zero
# README for more details.
[profile.release-without-lto]
inherits = "release"
lto = "off"
