[workspace]
resolver = "2"

members = [
    "soroban-sdk",
    "soroban-auth",
    "soroban-sdk-macros",
    "soroban-spec",
    "tests/empty",
    "tests/hello",
    "tests/add_i32",
    "tests/add_i64",
    "tests/add_u64",
    "tests/add_bigint",
    "tests/vec",
    "tests/import_contract",
    "tests/invoke_contract",
    "tests/call_stack",
    "tests/udt",
    "tests/contract_data",
    "tests/create_contract",
    "tests/result",
]

[patch.crates-io]
soroban-sdk = { path = "soroban-sdk" }
soroban-auth = { path = "soroban-auth" }
soroban-spec = { path = "soroban-spec" }
soroban-sdk-macros = { path = "soroban-sdk-macros" }
soroban-env-common = { git = "https://github.com/stellar/rs-soroban-env", rev = "d4d16e29" }
soroban-env-guest = { git = "https://github.com/stellar/rs-soroban-env", rev = "d4d16e29" }
soroban-env-host = { git = "https://github.com/stellar/rs-soroban-env", rev = "d4d16e29" }
soroban-env-macros = { git = "https://github.com/stellar/rs-soroban-env", rev = "d4d16e29" }
soroban-native-sdk-macros = { git = "https://github.com/stellar/rs-soroban-env", rev = "d4d16e29" }
stellar-xdr = { git = "https://github.com/stellar/rs-stellar-xdr", rev = "cebf5259" }
wasmi = { package = "soroban-wasmi", git = "https://github.com/stellar/wasmi", rev = "a61b6df" }

# soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
# soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
# soroban-env-host = { path = "../rs-soroban-env/soroban-env-host" }
# soroban-env-macros = { path = "../rs-soroban-env/soroban-env-macros" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true
