[workspace]
resolver = "2"

members = [
    "soroban-sdk",
    "soroban-sdk-macros",
    "soroban-spec",
    "soroban-spec-rust",
    "soroban-ledger-snapshot",
    "soroban-token-sdk",
    "tests/empty",
    "tests/empty2",
    "tests/add_u64",
    "tests/add_i128",
    "tests/add_u128",
    "tests/import_contract",
    "tests/invoke_contract",
    "tests/udt",
    "tests/contract_data",
    "tests/events",
    "tests/logging",
    "tests/errors",
    "tests/alloc",
    "tests/auth",
    "tests/fuzz",
    "tests/multiimpl",
]

[workspace.package]
version = "0.9.2"

[workspace.dependencies]
soroban-sdk = { version = "0.9.2", path = "soroban-sdk" }
soroban-sdk-macros = { version = "0.9.2", path = "soroban-sdk-macros" }
soroban-spec = { version = "0.9.2", path = "soroban-spec" }
soroban-spec-rust = { version = "0.9.2", path = "soroban-spec-rust" }
soroban-ledger-snapshot = { version = "0.9.2", path = "soroban-ledger-snapshot" }
soroban-token-sdk = { version = "0.9.2", path = "soroban-token-sdk" }

[workspace.dependencies.soroban-env-common]
version = "0.0.17"
git = "https://github.com/stellar/rs-soroban-env"
rev = "00c85906a602b4050b2a49ca1a86860c3812d699"

[workspace.dependencies.soroban-env-guest]
version = "0.0.17"
git = "https://github.com/stellar/rs-soroban-env"
rev = "00c85906a602b4050b2a49ca1a86860c3812d699"

[workspace.dependencies.soroban-env-host]
version = "0.0.17"
git = "https://github.com/stellar/rs-soroban-env"
rev = "00c85906a602b4050b2a49ca1a86860c3812d699"

[workspace.dependencies.stellar-strkey]
version = "0.0.7"
git = "https://github.com/stellar/rs-stellar-strkey"
rev = "e6ba45c60c16de28c7522586b80ed0150157df73"

[workspace.dependencies.stellar-xdr]
version = "0.0.17"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "e2a9cbf72d94941de1bde6ba34a38e1f49328567"
default-features = false

#[patch."https://github.com/stellar/rs-soroban-env"]
#soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
#soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
#soroban-env-host = { path = "../rs-soroban-env/soroban-env-host/" }
#[patch."https://github.com/stellar/rs-stellar-xdr"]
#stellar-xdr = { path = "../rs-stellar-xdr/" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true
