[workspace]
resolver = "2"

members = [
    "soroban-sdk",
    "soroban-sdk-macros",
    "soroban-spec",
    "soroban-spec-rust",
    "soroban-ledger-snapshot",
    "soroban-token-sdk",
    "tests/empty",
    "tests/empty2",
    "tests/add_u64",
    "tests/add_i128",
    "tests/add_u128",
    "tests/import_contract",
    "tests/invoke_contract",
    "tests/udt",
    "tests/contract_data",
    "tests/events",
    "tests/logging",
    "tests/errors",
    "tests/alloc",
    "tests/auth",
    "tests/fuzz",
    "tests/multiimpl",
    "tests/workspace_contract",
    "tests/workspace_lib",
]

[workspace.package]
version = "20.0.0-rc2"

[workspace.dependencies]
soroban-sdk = { version = "20.0.0-rc2", path = "soroban-sdk" }
soroban-sdk-macros = { version = "20.0.0-rc2", path = "soroban-sdk-macros" }
soroban-spec = { version = "20.0.0-rc2", path = "soroban-spec" }
soroban-spec-rust = { version = "20.0.0-rc2", path = "soroban-spec-rust" }
soroban-ledger-snapshot = { version = "20.0.0-rc2", path = "soroban-ledger-snapshot" }
soroban-token-sdk = { version = "20.0.0-rc2", path = "soroban-token-sdk" }

[workspace.dependencies.soroban-env-common]
version = "20.0.0-rc2"
git = "https://github.com/stellar/rs-soroban-env"
rev = "472486c9dba96e09746522df0c9052cd50568e62"

[workspace.dependencies.soroban-env-guest]
version = "20.0.0-rc2"
git = "https://github.com/stellar/rs-soroban-env"
rev = "472486c9dba96e09746522df0c9052cd50568e62"

[workspace.dependencies.soroban-env-host]
version = "20.0.0-rc2"
git = "https://github.com/stellar/rs-soroban-env"
rev = "472486c9dba96e09746522df0c9052cd50568e62"

[workspace.dependencies.stellar-strkey]
version = "0.0.8"
git = "https://github.com/stellar/rs-stellar-strkey"
rev = "79ede59c97ed80090b9af63151c9f9a15260492d"

[workspace.dependencies.stellar-xdr]
version = "20.0.0-rc1"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "957273d7b8092888849219a3ad2aa054059ca89d"
default-features = false
features = ["curr"]

#[patch."https://github.com/stellar/rs-soroban-env"]
#soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
#soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
#soroban-env-host = { path = "../rs-soroban-env/soroban-env-host/" }
#[patch."https://github.com/stellar/rs-stellar-xdr"]
#stellar-xdr = { path = "../rs-stellar-xdr/" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true
