[workspace]
resolver = "2"

members = [
    "soroban-sdk",
    "soroban-sdk-macros",
    "soroban-spec",
    "soroban-spec-rust",
    "soroban-ledger-snapshot",
    "soroban-token-sdk",
    "tests/*",
]

[workspace.package]
version = "23.0.0-rc.2.2"
rust-version = "1.84.0"

[workspace.dependencies]
soroban-sdk = { version = "23.0.0-rc.2.2", path = "soroban-sdk" }
soroban-sdk-macros = { version = "23.0.0-rc.2.2", path = "soroban-sdk-macros" }
soroban-spec = { version = "23.0.0-rc.2.2", path = "soroban-spec" }
soroban-spec-rust = { version = "23.0.0-rc.2.2", path = "soroban-spec-rust" }
soroban-ledger-snapshot = { version = "23.0.0-rc.2.2", path = "soroban-ledger-snapshot" }
soroban-token-sdk = { version = "23.0.0-rc.2.2", path = "soroban-token-sdk" }

[workspace.dependencies.soroban-env-common]
version = "=23.0.0-rc.2"
#git = "https://github.com/stellar/rs-soroban-env"
#rev = "bd0c80a1fe171e75f8d745f17975a73927d44ecd"

[workspace.dependencies.soroban-env-guest]
version = "=23.0.0-rc.2"
#git = "https://github.com/stellar/rs-soroban-env"
#rev = "bd0c80a1fe171e75f8d745f17975a73927d44ecd"

[workspace.dependencies.soroban-env-host]
version = "=23.0.0-rc.2"
#git = "https://github.com/stellar/rs-soroban-env"
#rev = "bd0c80a1fe171e75f8d745f17975a73927d44ecd"

[workspace.dependencies.stellar-strkey]
version = "=0.0.13"

[workspace.dependencies.stellar-xdr]
version = "=23.0.0-rc.2"
default-features = false
features = ["curr"]
#git = "https://github.com/stellar/rs-stellar-xdr"
#rev = "67be5955a15f1d3a4df83fe86e6ae107f687141b"

#[patch.crates-io]
#soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
#soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
#soroban-env-host = { path = "../rs-soroban-env/soroban-env-host" }
#[patch."https://github.com/stellar/rs-stellar-xdr"]
#stellar-xdr = { path = "../rs-stellar-xdr/" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true
