[workspace]
resolver = "2"

members = [
    "soroban-sdk",
    "soroban-auth",
    "soroban-sdk-macros",
    "soroban-spec",
    "soroban-token-spec",
    "tests/empty",
    "tests/add_u64",
    "tests/add_bigint",
    "tests/import_contract",
    "tests/invoke_contract",
    "tests/udt",
    "tests/contract_data",
    "tests/events",
    "tests/logging",
    "tests/errors",
]

[workspace.dependencies]
soroban-env-common = "0.0.9"
soroban-env-guest = "0.0.9"
soroban-env-host = "0.0.9"
stellar-strkey = "0.0.6"
stellar-xdr = "0.0.7"

[patch.crates-io]
soroban-sdk = { path = "soroban-sdk" }
soroban-auth = { path = "soroban-auth" }
soroban-spec = { path = "soroban-spec" }
soroban-sdk-macros = { path = "soroban-sdk-macros" }
#soroban-env-common = { git = "https://github.com/stellar/rs-soroban-env", rev = "c04c2332" }
#soroban-env-guest = { git = "https://github.com/stellar/rs-soroban-env", rev = "c04c2332" }
#soroban-env-host = { git = "https://github.com/stellar/rs-soroban-env", rev = "c04c2332" }
#soroban-env-macros = { git = "https://github.com/stellar/rs-soroban-env", rev = "c04c2332" }
#soroban-native-sdk-macros = { git = "https://github.com/stellar/rs-soroban-env", rev = "c04c2332" }
stellar-xdr = { git = "https://github.com/stellar/rs-stellar-xdr", rev = "e88f9fa7" }
wasmi = { package = "soroban-wasmi", git = "https://github.com/stellar/wasmi", rev = "d1ec0036" }

soroban-env-common = { path = "../rs-soroban-env/soroban-env-common" }
soroban-env-guest = { path = "../rs-soroban-env/soroban-env-guest" }
soroban-env-host = { path = "../rs-soroban-env/soroban-env-host" }
soroban-env-macros = { path = "../rs-soroban-env/soroban-env-macros" }
soroban-native-sdk-macros = { path = "../rs-soroban-env/soroban-native-sdk-macros" }

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug-assertions = true
