[workspace]

members = [
    "stellar_contract_sdk",
    "stellar_contract_sdk_macros",
    "test_macros",
    "test_add",
    "test_bignum",
    "test_call_helper",
    "test_helper",
    "test_host_objects",
    "test_pay",
    "test_call_everything",
    "test_liqpool",
]

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.release]
opt-level = "z"
overflow-checks = false
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
