[package]
name = "stellar-contract-sdk"
version = "0.0.0"
authors = ["Stellar Development Foundation <info@stellar.org>"]
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]

[target.'cfg(target_family="wasm")'.dependencies]
stellar-contract-env-guest = { git = "https://github.com/stellar/rs-stellar-contract-env", rev = "3f68fc1", feature ="panic_handler" }

[target.'cfg(not(target_family="wasm"))'.dependencies]
stellar-contract-env-host = { git = "https://github.com/stellar/rs-stellar-contract-env", rev = "3f68fc1" }
im-rc = "15.0.0"
num-bigint = "0.4"
