[package]
name = "stellar_contract_sdk"
version = "0.0.1"
authors = ["Stellar Development Foundation <info@stellar.org>"]
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[target.'cfg(not(target_family="wasm"))'.dependencies]
im-rc = "15.0.0"
num-bigint = "0.4"
stellar-xdr = { git = "https://github.com/stellar/rs-stellar-xdr", branch = "update-with-hash" }
