[package]
name = "soroban-sdk"
description = "Soroban SDK."
homepage = "https://github.com/stellar/rs-soroban-sdk"
repository = "https://github.com/stellar/rs-soroban-sdk"
authors = ["Stellar Development Foundation <info@stellar.org>"]
readme = "README.md"
license = "Apache-2.0"
version.workspace = true
edition = "2021"
rust-version = "1.70"

[lib]
doctest = false

[dependencies]
soroban-sdk-macros = { workspace = true }
bytes-lit = "0.0.5"
arbitrary = { version = "1.1.3", features = ["derive"], optional = true }

[target.'cfg(target_family="wasm")'.dependencies]
soroban-env-guest = { workspace = true }

[target.'cfg(not(target_family="wasm"))'.dependencies]
soroban-env-host = { workspace = true, features = [] }
soroban-ledger-snapshot = { workspace = true }
stellar-strkey = { workspace = true }
ed25519-dalek = { version = "1.0.1", optional = true }
# match the version of rand used in dalek
rand = "0.7.3"

[dev-dependencies]
soroban-env-host = { workspace = true, features = ["testutils"] }
stellar-xdr = { workspace = true, features = ["next", "std"] }
soroban-spec = { workspace = true }
ed25519-dalek = "1.0.1"
rand = "0.7.3"
hex = "0.4.3"

[features]
alloc = []
testutils = ["soroban-env-host/testutils", "dep:ed25519-dalek", "dep:arbitrary"]
docs = []

[package.metadata.docs.rs]
all-features = true
