[package]
name = "soroban-sdk"
description = "Soroban SDK."
homepage = "https://github.com/stellar/rs-soroban-sdk"
repository = "https://github.com/stellar/rs-soroban-sdk"
authors = ["Stellar Development Foundation <info@stellar.org>"]
readme = "../README.md"
license = "Apache-2.0"
version = "0.2.0"
edition = "2021"
rust-version = "1.65"

[lib]
doctest = false

[dependencies]
soroban-sdk-macros = { version = "0.2.0" }
bytes-lit = "0.0.4"

[target.'cfg(target_family="wasm")'.dependencies]
soroban-env-guest = { workspace = true }

[target.'cfg(not(target_family="wasm"))'.dependencies]
soroban-env-host = { workspace = true, features = ["vm", "hostfn_log_fmt_values"] }
stellar-strkey = { workspace = true }
ed25519-dalek = { version = "1.0.1", optional = true }
rand = "0.8.5"

[dev-dependencies]
soroban-env-host = { workspace = true, features = ["vm", "hostfn_log_fmt_values", "testutils"] }
stellar-xdr = { workspace = true, features = ["next", "std"] }
soroban-spec = "0.2.0"
ed25519-dalek = "1.0.1"
rand = "0.8.5"
hex = "0.4.3"

[features]
testutils = ["soroban-env-host/testutils", "dep:ed25519-dalek"]
docs = []

[package.metadata.docs.rs]
all-features = true
