name: Rust

on:
  push:
    branches: [main]
  pull_request:

env:
  RUSTFLAGS: -D warnings

jobs:

  complete:
    if: always()
    needs: [fmt, build-and-test, docs]
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure')
      run: exit 1

  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup update
    - run: cargo fmt --all --check

  build-and-test:
    strategy:
      matrix:
        sys:
        - os: ubuntu-latest
          target: wasm32-unknown-unknown
          profile: release
          test: false
        - os: ubuntu-latest
          target: x86_64-unknown-linux-gnu
          profile: test
          test: true
        # TODO: Re-enable if we see value in doing so.
        # - os: macos-latest
        #   target: x86_64-apple-darwin
        #   profile: test
        #   test: true
        # - os: macos-latest
        #   target: aarch64-apple-darwin
        #   profile: test
        #   test: false
        # - os: windows-latest
        #   target: x86_64-pc-windows-msvc
        #   profile: test
        #   test: true
    runs-on: ${{ matrix.sys.os }}
    steps:
    - uses: actions/checkout@v3
    - run: rustup update
    - run: rustup target add ${{ matrix.sys.target }}
    - if: ${{ !github.ref_protected }
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-
    - if: ${{ !github.ref_protected }
      uses: actions/cache@v3
      with:
        path: target/
        key: ${{ github.job }}-target-${{ strategy.job-index }}-${{ github.sha }}
        restore-keys: |
          ${{ github.job }}-target-${{ strategy.job-index }}
          ${{ github.job }}-target-
    - run: cargo install --locked --version 0.5.14 cargo-hack
    - run: cargo check --profile ${{ matrix.sys.profile }} --target ${{ matrix.sys.target }} --lib
    - if: matrix.sys.test
      run: cargo hack --feature-powerset check --exclude-features docs --profile ${{ matrix.sys.profile }} --target ${{ matrix.sys.target }} --bins --tests --examples --benches
    - run: cargo build --profile ${{ matrix.sys.profile }} --target ${{ matrix.sys.target }}
    - if: matrix.sys.test
      run: cargo hack --feature-powerset test --exclude-features docs --profile ${{ matrix.sys.profile }} --target ${{ matrix.sys.target }}

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup install nightly
    - if: ${{ !github.ref_protected }
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-
    - if: ${{ !github.ref_protected }
      uses: actions/cache@v3
      with:
        path: target/
        key: ${{ github.job }}-target-${{ github.sha }}
        restore-keys: |
          ${{ github.job }}-target
          ${{ github.job }}-target-
    - run: make doc
