name: Rust

on:
  push:
    branches: [main]
  pull_request:

env:
  RUSTFLAGS: -D warnings

jobs:

  complete:
    if: always()
    needs: [fmt, build-and-test, docs]
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      run: exit 1

  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup update
    - run: cargo fmt --all --check

  build-and-test:
    strategy:
      matrix:
        sys:
        - os: ubuntu-latest
          target: x86_64-unknown-linux-gnu
    runs-on: ${{ matrix.sys.os }}
    steps:
    - uses: actions/checkout@v3
    - run: rustup update
    - run: rustup target add ${{ matrix.sys.target }}
    - run: rustup target add wasm32-unknown-unknown
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-
    - uses: actions/cache@v3
      with:
        path: target/
        key: ${{ github.job }}-target-${{ strategy.job-index }}-${{ github.sha }}
        restore-keys: |
          ${{ github.job }}-target-${{ strategy.job-index }}
          ${{ github.job }}-target-
    - if: github.ref_protected
      run: rm -fr target
    - run: cargo install --locked --version 0.5.16 cargo-hack
    - run: cargo hack --feature-powerset --exclude-features docs check --target wasm32-unknown --lib --profile release
    - run: cargo hack --feature-powerset --exclude-features docs build --target wasm32-unknown --profile release
    - run: cargo hack --feature-powerset --exclude-features docs check --target ${{ matrix.sys.target }} --lib --tests
    - run: cargo hack --feature-powerset --exclude-features docs build --target ${{ matrix.sys.target }}
    - run: cargo hack --feature-powerset --exclude-features docs test --target ${{ matrix.sys.target }}

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup install nightly
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-
    - uses: actions/cache@v3
      with:
        path: target/
        key: ${{ github.job }}-target-${{ github.sha }}
        restore-keys: |
          ${{ github.job }}-target
          ${{ github.job }}-target-
    - if: github.ref_protected
      run: rm -fr target
    - run: make doc
